@tailwind base;
@tailwind components;
@tailwind utilities;

.submit{
font-family: 'Poppins',sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
min-height: 100vh;
background:url('/src/assets/background.jpg');
}